<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1><%=@volunteer.username%>'s Opportunities</h1>
<br></br>
<%@volunteer.opportunities.each do |opportunity|%>
  <div class="volunteer-opportunity">
  <ol>
  <li><%=opportunity.event%></li>
      <%=opportunity.date%><br>
      <%=opportunity.time%><br>
      <%=opportunity.description%>
  </ol>
  </div> <br></br> 
<% end %>
<br><br> 
  <h3><%=@volunteer.username%>'s Stories</h3>
  <%@volunteer.success_stories.each do |story|%>
    <h4><%=story.title%></h4>
    <p><%=story.content%></p>
    <% end %>
<br><br>
<h4><a href="/volunteers/<%=@volunteer.id%>/edit">Edit profile</a></h4>
<br><br>
<h4><a href="/opportunities">Check out all opportunities!</a></h4>
