<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Success Story #<%=@success_story.id%>: <%=@success_story.title%></h1>
<br><br>
<p><%=@success_story.content%></p>
<p><%=@success_story.author%></p>
<a href="/success_stories/<%=@success_story.id%>/edit">Edit Story</a>
<br><br><br>
<form action="/success_stories/<%=@success_story.id%>/delete" method="post">
  <input type="submit" id="submit" value="Delete Story">
  <input type="hidden" name="_method" value="delete" />
</form>
<br></br> 
<h4><a href="/success_stories">Back to all stories</a></h4>
<br><br>
<h4><a href="/opportunities">Back to all opportunities</a></h4>
