<h1>Welcome, <%=current_user.username%></h1>
<h4><a href="">Your page</a></h4> #need right url
<br><br>
<h3>Interested in a specific cause? Search by cause here:</h3>
<form action="search", method="get">
<input type="text" name="search">
<input type="submit" id="submit" value="submit">
</form>
<br><br>
<h3>All opportunities:</h3>
<%@opportunities.each do |opportunity|%>
  <h4><a href="/volunteers/<%=opportunity.volunteer.id%>"><%=opportunity.volunteer.username%></a></h4>
  <p><a href="/opportunities/<%=opportunity.id%>"><%=opportunity.event%></a> <%= opportunity.date%></p>
  <p><%=opportunity.description%></p><br>
<% end %>
<br>


<h3><a href="/opportunities/new">Make a new Opportunity</a></h3>
<br>
<h3><a href="/success_stories">Check out everyone's volunteering stories!</a></h3>
<br><br>


<a href='/logout'>Log Out</a>
