<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<% if @opportunities.present? %>
<table>
  <tr>
    <th>Cause:</th>
    <th>Opportunity:</th>
  </tr>
  <% @opportunities.each do |opportunity| %>
  <tr>
    <td><h2>    </h2><%=opportunity.cause %> -  </td>
    <td><a href="/opportunities/<%=opportunity.id %>"><h2>    </h2><%= opportunity.event %></td>
  </tr>
  <% end %>
  <% else %>
  <p> There are no opportunities containing the term(s) <%= params[:search] %>.</p>
  <% end %>
</table>
<br><br>
<h4><a href="/opportunities">Back to all opportunities</a></h4>
